<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Blog Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_packs_with_chunks_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
